{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container-fluid py-4">
  {% if request.user.is_authenticated %}
    {% if tasks %}
      {% for priority, count in task_counts.items %}
        <div class="row my-4">
        <div class="col-lg-8 col-md-4 mb-md-0 mb-4">
          <div class="card" style="width: 70vw">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>
                    {{ priority|title }}
                  </h6>
                  <p class="text-sm mb-0">
                    <i class="fas fa-exclamation text-warning" aria-hidden="true"></i>
                    <span class="font-weight-bold ms-1">{{ count }}</span> task{{ count|pluralize }} left
                  </p>
                </div>

                <div class="col-lg-6 col-5 my-auto text-end">
                  <div class="dropdown float-lg-end pe-4">
                    <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-ellipsis-v text-secondary"></i>
                    </a>
                    <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5" aria-labelledby="dropdownTable">
                      <li><a class="dropdown-item border-radius-md" href="#">Add task</a></li>
                      {% if request.user.is_superuser %}
                        <li><a class="dropdown-item border-radius-md" href="#">Delete</a></li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body px-0 pb-2 ">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Task</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Type</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Workers</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                      Deadline
                    </th>
                  </tr>
                  </thead>
                  {% for task in tasks %}
                    {% if task.priority == priority %}
                      <tbody>
                      <tr>
                        <td>
                          <a href="{% url 'task_manager:task-detail' pk=task.id %} ">
                            <div class="d-flex px-2 py-1">
                              <div>
                                <i class="fas fa-tasks me-2"></i>
                              </div>
                              <div class="d-flex flex-column justify-content-center">
                                <h6 class="mb-0 text-sm">
                                  {{ task.name }}
                                </h6>
                              </div>
                            </div>
                          </a>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs font-weight-bold"> {{ task.task_type }} </span>
                        </td>
                        <td>
                          <div class="avatar-group mt-2">
                            {% for worker in task.assignees.all %}
                              <a href="{% url 'task_manager:worker-detail' pk=worker.id %}"
                                 class="avatar avatar-xs rounded-circle" data-bs-toggle="tooltip"
                                 data-bs-placement="bottom" title="{{ worker.first_name }} {{ worker.last_name }}">
                                <img src="{% static 'images/worker.jpg' %}" alt="team1">
                              </a>
                            {% endfor %}

                          </div>
                        </td>
                        <td class="align-middle text-center text-sm">
                          <span class="text-xs font-weight-bold">{{ task.deadline }}</span>
                        </td>

                      </tr>

                      </tbody>
                    {% endif %}
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  {% else %}
    <div class="text-center">
      <h1>Welcome to Task Hub!</h1>
      <p>Please login to access your tasks.</p>
      <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a>
    </div>
  {% endif %}
{% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block scripts %}

  <script src="{% static 'js/plugins/chartjs.min.js' %}"></script>
  <script>
      var ctx = document.getElementById("chart-bars").getContext("2d");

      new Chart(ctx, {
          type: "bar",
          data: {
              labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                  label: "Sales",
                  tension: 0.4,
                  borderWidth: 0,
                  borderRadius: 4,
                  borderSkipped: false,
                  backgroundColor: "#fff",
                  data: [450, 200, 100, 220, 500, 100, 400, 230, 500],
                  maxBarThickness: 6
              },],
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      display: false,
                  }
              },
              interaction: {
                  intersect: false,
                  mode: 'index',
              },
              scales: {
                  y: {
                      grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                      },
                      ticks: {
                          suggestedMin: 0,
                          suggestedMax: 500,
                          beginAtZero: true,
                          padding: 15,
                          font: {
                              size: 14,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                          },
                          color: "#fff"
                      },
                  },
                  x: {
                      grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false
                      },
                      ticks: {
                          display: false
                      },
                  },
              },
          },
      });


      var ctx2 = document.getElementById("chart-line").getContext("2d");

      var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

      gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

      var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

      gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
      gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
      gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

      new Chart(ctx2, {
          type: "line",
          data: {
              labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
              datasets: [{
                  label: "Mobile apps",
                  tension: 0.4,
                  borderWidth: 0,
                  pointRadius: 0,
                  borderColor: "#cb0c9f",
                  borderWidth: 3,
                  backgroundColor: gradientStroke1,
                  fill: true,
                  data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                  maxBarThickness: 6

              },
                  {
                      label: "Websites",
                      tension: 0.4,
                      borderWidth: 0,
                      pointRadius: 0,
                      borderColor: "#575f9a",
                      borderWidth: 3,
                      backgroundColor: gradientStroke2,
                      fill: true,
                      data: [30, 90, 40, 140, 290, 290, 340, 230, 400],
                      maxBarThickness: 6
                  },
              ],
          },
          options: {
              responsive: true,
              maintainAspectRatio: false,
              plugins: {
                  legend: {
                      display: false,
                  }
              },
              interaction: {
                  intersect: false,
                  mode: 'index',
              },
              scales: {
                  y: {
                      grid: {
                          drawBorder: false,
                          display: true,
                          drawOnChartArea: true,
                          drawTicks: false,
                          borderDash: [5, 5]
                      },
                      ticks: {
                          display: true,
                          padding: 10,
                          color: '#b2b9bf',
                          font: {
                              size: 11,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                          },
                      }
                  },
                  x: {
                      grid: {
                          drawBorder: false,
                          display: false,
                          drawOnChartArea: false,
                          drawTicks: false,
                          borderDash: [5, 5]
                      },
                      ticks: {
                          display: true,
                          color: '#b2b9bf',
                          padding: 20,
                          font: {
                              size: 11,
                              family: "Open Sans",
                              style: 'normal',
                              lineHeight: 2
                          },
                      }
                  },
              },
          },
      });
  </script>

{% endblock scripts %}
